<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat GPRS</title>
    <link rel="stylesheet" href="/chatGPT/styles.css">
  </head>
  <body class="bg-gray-100">
    <div class="fixed inset-0 bg-white flex items-center justify-center">
        <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900"></div>
      </div>      
    <div class="chat hidden-chat flex flex-col h-screen">
      <!-- Chat Header -->
      <div
        class="bg-white border-b-2 border-gray-200 flex items-center justify-between p-4"
      >
        <h1 class="text-xl font-bold text-gray-800">Chat GPRS</h1>
        <button id="clear-chat" class="bg-red-500 hover:bg-red-600 ml-4 px-4 py-2 rounded text-white">
            Clear Chat
          </button>
      </div>

      <!-- Chat Messages -->
      <div class="flex-1 overflow-y-scroll p-4">
        <div class="chat-box flex flex-col gap-4">
            <div class="flex justify-start">
                <div class="bg-gray-200 max-w-xs p-2 rounded-lg">
                  Xin chào, Nói gì đi cưng =))
                </div>
              </div>
          <!-- Add more chat messages here -->
        </div>
      </div>

      <!-- Chat Input -->
      <div class="flex items-center justify-between p-4 flex-col sm:flex-row sm:items-start sm:justify-center">
        <select id="chatType" class="border border-gray-300 p-2 rounded-lg mr-2">
          <option value="chat">Chat Model</option>
          <option value="draw">Draw Image</option>
        </select>
        <input type="text" class="border border-gray-300 flex-1 rounded-lg  p-2 " placeholder="Type your message..." autofocus />
        <button type="button" class="bg-pink-500 hover:bg-pink-600 ml-4 px-4 py-2 rounded text-white">Send</button>
      </div>
      
    </div>
    <!-- Load Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/chatGPT/script.js"></script>
  </body>
</html>
