<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POLICY</title>
  </head>
  <body>
    <div class="ip-page-container">
      <header class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h1>Privacy Policy</h1>
            </div>
          </div>
        </div>
      </header>

      <div class="container post-container">
        <div class="row row-flex-desktop">
          <div class="col-md-12">
            <section role="main" class="post-open">
              <article
                id="post-3"
                class="post-3 page type-page status-publish hentry"
              >
                <div class="entry-content">
                  <h2>Who are we</h2>

                  <p>
                    The website address is: https://spa.zstore.zinisoft.net.
                  </p>

                  <h2>
                    What personal information is collected and why it is
                    collected
                  </h2>

                  <h3>Comment</h3>

                  <p>
                    When visitors leave comments on the site, we collect the
                    data displayed in the comment form and also the visitor’s IP
                    address and browser user agent string to help detect spam.
                  </p>

                  <p>
                    An anonymous string generated from your email address (also
                    known as a hash) may be provided to the Gravatar service to
                    see if you are using it. The Gravatar service privacy policy
                    is available here: https://automattic.com/privacy/. After
                    accepting your comment, your profile picture is publicly
                    displayed in the context of your comment.
                  </p>

                  <h3>Library</h3>

                  <p>
                    If you upload images to the web, you should avoid uploading
                    images with embedded location data (EXIF GPS) included.
                    Visitors to the site can download and extract any location
                    data from images on the site.
                  </p>

                  <h3>Contact Info</h3>

                  <h3>Cookies</h3>

                  <p>
                    If you write a comment on the website, you can provide the
                    name, email address and website address in the cookie. This
                    information is to help you not need to enter the information
                    many times when writing other comments. This cookie will be
                    kept for a year.
                  </p>

                  <p>
                    If you have an account and login and website, we will set a
                    temporary cookie to determine if your browser allows the use
                    of cookies. This cookie does not include personal
                    information and will be removed when you close the browser.
                  </p>

                  <p>
                    When you log in, we will set a few cookies to save your
                    login information and display options. Login information
                    saved for two days, and the option to display the most saved
                    for a year. If you select “Remember me”, your login
                    information will be saved for two weeks. If you log out, the
                    login cookie information will be deleted.
                  </p>

                  <p>
                    If you edit or publish an article, an additional cookie will
                    be saved in your browser. This cookie does not contain
                    personal information and simply includes the ID of the
                    article you have edited. It automatically expires after 1
                    day.
                  </p>

                  <h3>Embedded content from other websites</h3>

                  <p>
                    Articles on this site may include embedded content (e.g.
                    videos, images, articles, etc.). Content embedded from other
                    websites works in exactly the same way as when visitors have
                    visited other websites.
                  </p>

                  <p>
                    These websites may collect data about you, use cookies,
                    embed third-party trackers, and monitor your interaction
                    with that embedded content, including tracking your
                    interaction with the content. embed if you have an account
                    and are logged in to the site.
                  </p>

                  <h3>Analysis</h3>

                  <h2>Who we share your data with</h2>

                  <h2>How long does your data last?</h2>

                  <p>
                    If you leave a comment, the comment and its metadata will be
                    retained indefinitely. This is so we can automatically
                    recognize and accept any comments instead of keeping them in
                    the waiting area for censorship.
                  </p>

                  <p>
                    For users registered on our website (if any), we also store
                    the personal information they provide in their user profile.
                    All users can view, edit or delete their personal
                    information at any time (except they cannot change their
                    username). Webmasters can also view and edit that
                    information.
                  </p>

                  <h2>Your rights with your data</h2>

                  <p>
                    If you have an account on this site or have left a comment,
                    you can request to receive the personal data export file we
                    hold about you, including any data you have provided to us.
                    You can also ask us to delete any personal data we hold
                    about you. This does not include any data we are obligated
                    to keep for administrative, legal or confidential purposes.
                  </p>

                  <h2>Where is your data sent to</h2>

                  <p>
                    Guest comments (not members) can be checked through the spam
                    detection service.
                  </p>
                </div>
                <div class="clear"></div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
